<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <p>
        This is Zugang Liu's development project for dissertation.

        Reason Forum is a forum where some people ask questions and other people give possible solutions.
        Sounds familiar? Well, the difference between Reason Forum and other forums is that people can vote for solutions as well as give solutions.
        That means people can directly see which solution is mostly favored, which helps people to solve questions better.

        Vote (or not vote) for a solution is also a direct way for people to show their approval or opposition to the solution.
        We've already seen people debate and dispute in every online forum. But here I want to create a place which helps people come together and find people who share his/her opinion.

        Finally, this is how every question gets solved:
        1. someone posts a topic(question):
            he/she also set when the vote begin and end, which means when others can vote and see the vote result.
        2. before vote starts
        3. vote in progress
        4. vote ends
    </p>
</body>
</html>